/* IE8 Specific Styles */
.iq-logo {
	width: 113px;
	height: 66px;
	background-image: url(../images/iq-logo.png);
}

.introText {
	padding-left: 270px;
	min-height: 461px;
	background: url(../images/rhino-calf.png) no-repeat;
}

.action {
	background: url(../images/action.jpg) no-repeat;
}

.badge-none {
	background-image: url(../images/final-none.jpg);
}

.badge-red {
	background-image: url(../images/final-red.jpg);
}

.badge-blue {
	background-image: url(../images/final-blue.jpg);
}

.badge-bronze {
	background-image: url(../images/final-bronze.jpg);
}

.badge-silver {
	background-image: url(../images/final-silver.jpg);
}

.badge-gold {
	background-image: url(../images/final-gold.jpg);
}

	.badge-platinum {
		background-image: url(../images/final-platinum.jpg);
	}

	.action {
		background: url(../images/action.jpg) no-repeat;
	}